PLANNING_API_KEY=YOUR-API-KEY # asem
PLANNING_ENDPOINT = "https://models.github.ai/inference"
PLANNING_MODEL_ID = "gpt-4o"

UNIT_TEST_API_KEY= YOUR-API-KEY # asem
UNIT_TEST_ENDPOINT = "https://router.bynara.id/v1"
UNIT_TEST_MODEL_ID = "mistral-large"

INTEGRATION_TEST_API_KEY= YOUR-API-KEY # Aya
INTEGRATION_TEST_ENDPOINT = "https://router.bynara.id/v1"
INTEGRATION_TEST_MODEL_ID = "mistral-large"

E2E_TEST_API_KEY= YOUR-API-KEY # suhaila
E2E_TEST_ENDPOINT = "https://router.bynara.id/v1"
E2E_TEST_MODEL_ID = "mistral-large"

EXECUTION_AGENT_API_KEY= YOUR-API-KEY
EXECUTION_AGENT_ENDPOINT = "https://router.bynara.id/v1"
EXECUTION_AGENT_MODEL_ID = "mistral-large"

OLLAMA_ENDPOINT= "http://localhost:11434"
OLLAMA_EMBEDDING_MODEL= "qwen3-embedding:8b"

APP_BASE_URL= "http://localhost:3000"


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY= 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
LANGSMITH_PROJECT="QAura"