API_KEY= YOUR-API-KEY
ENDPOINT = "https://router.bynara.id/v1"
MODEL_ID = "mistral-large"

OLLAMA_ENDPOINT= "http://localhost:11434"
OLLAMA_EMBEDDING_MODEL= "qwen3-embedding:8b"


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY= 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
LANGSMITH_PROJECT="QAura"